{% extends 'scheduler/base.html' %}

{% block title %}
    Über uns
{% endblock title %}
{% block content %}
<h2>UniTransferKlinik</h1>
<p>
    Die UniTransferKlinik Lübeck befindet sich inmitten des wissenschaftlichen Herzens Lübecks. Mit dem Sitz auf dem Campus der technischen Hochschule Lübeck, der Universität zu Lübeck und des Uniklinikums Schleswig-Holsteins sind die Kommunikations­wege besonders kurz. Sie beschäftigt sich insbesondere mit Frage­stellungen rund um die Digitalisierung, vor allem bezogen auf die Medizintechnik 4.0. Hieraus resultierend stellt sich die UTK Aufgaben­stellungen aus dem Gebiet der Sicherheit und Zuverlässigkeit bei gleichzeitiger Vernetzung und Inter­operabilität. Zudem hat die Thematik der künstlichen Intelligenz einen großen Einfluss auf die Digitalisierung und bietet neuartige Lösungs­ansätze für alte Probleme, zum Beispiel bei der anhaltenden Pflege­krise. Besondere Schwerpunkte sind das Prozess­management, das unentbehrlich für ein gut laufendes Projekt ist und die Abwicklung der Zulassungs­prozedere neu entwickelter Produkte.
</p>
<p><a href="https://www.unitransferklinik.de/ueber">Internetseite</a></p>
{% endblock content %}