{% extends 'scheduler/base.html' %}

{% block title %}
Dienstplanstruktur
{% endblock title %}

{% block content %}
<table class="table table-striped table-hover table-bordered">
    <thead class="table-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th colspan="3">Montag</th>
        <th colspan="3">Dienstag</th>
        <th colspan="3">Mittwoch</th>
        <th colspan="3">Donnerstag</th>
        <th colspan="3">Freitag</th>
        <th colspan="3">Samstag</th>
        <th colspan="3">Sonntag</th>

    </tr>
    <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Früh</th>
        <th scope="col">Spät</th>
        <th scope="col">Nacht</th>
        <th scope="col">Früh</th>
        <th scope="col">Spät</th>
        <th scope="col">Nacht</th>
        <th scope="col">Früh</th>
        <th scope="col">Spät</th>
        <th scope="col">Nacht</th>
        <th scope="col">Früh</th>
        <th scope="col">Spät</th>
        <th scope="col">Nacht</th>
        <th scope="col">Früh</th>
        <th scope="col">Spät</th>
        <th scope="col">Nacht</th>
        <th scope="col">Früh</th>
        <th scope="col">Spät</th>
        <th scope="col">Nacht</th>
        <th scope="col">Früh</th>
        <th scope="col">Spät</th>
        <th scope="col">Nacht</th>
    </tr>
    </thead>
    <tbody>

    {% for weekly_shift_plan in weekly_shift_plans  %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{weekly_shift_plan.name}}</td>
            <td>{{weekly_shift_plan.monday_1}}</td>
            <td>{{weekly_shift_plan.monday_2}}</td>
            <td>{{weekly_shift_plan.monday_3}}</td>
            <td>{{weekly_shift_plan.tuesday_1}}</td>
            <td>{{weekly_shift_plan.tuesday_2}}</td>
            <td>{{weekly_shift_plan.tuesday_3}}</td>
            <td>{{weekly_shift_plan.wednesday_1}}</td>
            <td>{{weekly_shift_plan.wednesday_2}}</td>
            <td>{{weekly_shift_plan.wednesday_3}}</td>
            <td>{{weekly_shift_plan.thursday_1}}</td>
            <td>{{weekly_shift_plan.thursday_2}}</td>
            <td>{{weekly_shift_plan.thursday_3}}</td>
            <td>{{weekly_shift_plan.friday_1}}</td>
            <td>{{weekly_shift_plan.friday_2}}</td>
            <td>{{weekly_shift_plan.friday_3}}</td>
            <td>{{weekly_shift_plan.saturday_1}}</td>
            <td>{{weekly_shift_plan.saturday_2}}</td>
            <td>{{weekly_shift_plan.saturday_3}}</td>
            <td>{{weekly_shift_plan.sunday_1}}</td>
            <td>{{weekly_shift_plan.sunday_2}}</td>
            <td>{{weekly_shift_plan.sunday_3}}</td>
            
        </tr>
    
    
    
    {% endfor %}
      
      
    </tbody>
  </table>
    
    <form action="{% url 'schedule-structure-add'%}" method="POST">
        {% csrf_token %}
        <button type="submit">Neue Dienstplanstruktur erstellen</button>
    </form>
    <p></p>

    
{% endblock content %}